<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>伍仕勇</string>
    <string>何佳诚</string>
    <string>何明瑶</string>
    <string>刘凡</string>
    <string>刘永松</string>
    <string>刘真文</string>
    <string>叶波</string>
    <string>吕翔杰</string>
    <string>周为</string>
    <string>曾挚</string>
    <string>周大王</string>
    <string>周豪</string>
    <string>唐尚文</string>
    <string>唐诗杰</string>
    <string>廖晨羽</string>
    <string>张友明</string>
    <string>张家奥</string>
    <string>张欢</string>
    <string>曹青松</string>
    <string>李乐</string>
    <string>李振兴</string>
    <string>李江</string>
    <string>林洋</string>
    <string>柯单林</string>
    <string>江夏</string>
    <string>江行明</string>
    <string>王兴</string>
    <string>王河云</string>
    <string>王辉</string>
    <string>田成财</string>
    <string>老徐</string>
    <string>肖永胜</string>
    <string>茂林</string>
    <string>蒋涛</string>
    <string>蒙晓菊</string>
    <string>谢久伟</string>
    <string>谢凤</string>
    <string>赵赴超</string>
    <string>邓鸿风</string>
    <string>邓鹏</string>
    <string>邹本均</string>
    <string>郭宇</string>
    <string>陈元伟</string>
    <string>陈小渝</string>
    <string>骆敏</string>
</array>
</plist>
